bin/
build/
.project
.classpath
.settings/*
.gradle
*.class
.DS_Store
.settings
DcamJ.iml
gradle/bintrayUpload.gradle
gradle/codeformat.eclipse.xml
gradle/installGitHooks
gradle/master.gradle
gradle/spotless.gradle
